/* Un degradado suave para el fondo si no quieres el gris plano */
.container-fluid {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

#recaptcha-container {
  min-height: 78px;
}