cat << 'EOF' > .gitignore
# Archivos compilados de Maven

*.class
*.jar
*.war

# Configuraciones de IDEs (IntelliJ, VS Code, Eclipse)
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.class
# IntelliJ
.ai/






# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# ==========================================
# 🛑 SECRETOS Y CREDENCIALES DE FIXLAB 🛑
# ==========================================
src/main/resources/application.properties
EOF
# Maven
target/
